.container
  .row
    .col-12
      h1 Check box
    .col-6.col-offset-3
      .form-group
        .checkbox
          input#input-checkbox.rounded.form-control(type="checkbox")
          label(for="input-checkbox") Input checkbox
      .form-group
        .checkbox.checkbox-primary
          input#input-checkbox-primary.rounded.form-control(type="checkbox")
          label(for="input-checkbox-primary") Input checkbox primary
      .form-group
        .checkbox.checkbox-secondary
          input#input-checkbox-secondary.rounded.form-control(type="checkbox")
          label(for="input-checkbox-secondary") Input checkbox secondary
      .form-group
        .checkbox.checkbox-success
          input#input-checkbox-success.rounded.form-control(type="checkbox")
          label(for="input-checkbox-success") Input checkbox success
      .form-group
        .checkbox.checkbox-info
          input#input-checkbox-info.rounded.form-control(type="checkbox")
          label(for="input-checkbox-info") Input checkbox info
      .form-group
        .checkbox.checkbox-danger
          input#input-checkbox-danger.rounded.form-control(type="checkbox")
          label(for="input-checkbox-danger") Input checkbox danger
      .form-group
        .checkbox.checkbox-warning
          input#input-checkbox-warning.rounded.form-control(type="checkbox")
          label(for="input-checkbox-warning") Input checkbox warning
    .col-12
      h1 Check box Radio
    .col-6.col-offset-3
      .form-group
        .checkbox.checkbox-circle
          input#input-checkbox-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-radio") Input checkbox
      .form-group
        .checkbox.checkbox-circle.checkbox-primary
          input#input-checkbox-primary-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-primary-radio") Input checkbox primary
      .form-group
        .checkbox.checkbox-circle.checkbox-secondary
          input#input-checkbox-secondary-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-secondary-radio") Input checkbox secondary
      .form-group
        .checkbox.checkbox-circle.checkbox-success
          input#input-checkbox-success-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-success-radio") Input checkbox success
      .form-group
        .checkbox.checkbox-circle.checkbox-info
          input#input-checkbox-info-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-info-radio") Input checkbox info
      .form-group
        .checkbox.checkbox-circle.checkbox-danger
          input#input-checkbox-danger-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-danger-radio") Input checkbox danger
      .form-group
        .checkbox.checkbox-circle.checkbox-warning
          input#input-checkbox-warning-radio.rounded.form-control(type="checkbox")
          label(for="input-checkbox-warning-radio") Input checkbox warning