.container
  .row
    .col-12
      .chip
        span Chips
      .chip.primary
        span Chips
      .chip.secondary
        span Chips
      .chip.info
        img(src="https://picturepan2.github.io/spectre/img/avatar-1.png")
        span Chips
        a.chip-close(href="#")
      .chip.success
        span Chips
        a.chip-close(href="#")
      .chip.danger
        span Chips
      .chip.warning
        span Chips
      .chip.light
        span Chips
        a.chip-close(href="#")
      .chip.dark
        span Chips