.mt-12.container
  .row
    h3 Input
  .row
    .col-6
      .form-group
        label(for="formGroupExampleInput") Example label
        input.rounded.form-control#formGroupExampleInput(type="tel", max="10", placeholder="Example input placeholder")
  .row
    .col-6
      .input-field
        input#first_name.validate(data-format="999-999-9999", type="tel", placeholder="Example input placeholder")
        label(for="first_name") First Name
  .row
    .col-6
      .form-group.row
        label.col-sm-2.col-form-label(for="inputEmail3") Email
        .col-sm-10
          input.form-control#inputEmail3(type="email")
  .row
    h3 TextArea
  .row
    .col-6
      .form-group
        label(for="exampleFormControlTextarea1") Example textarea
        textarea.form-control#exampleFormControlTextarea1(rows="3")
    .col-6
    .col-6
      .form-group
        label(for="input-button") Input button
        input#input-button.rounded.form-control.btn.btn-primary(type="button", value="valor")
      .form-group
        label(for="input-color") Input color
        input#input-color.rounded.form-control(type="color")
      .form-group
        label(for="input-date") Input date
        input#input-date.rounded.form-control(type="date")
      .form-group
        label(for="input-datetime-local") Input datetime local
        input#input-datetime-local.rounded.form-control(type="datetime-local")
      .form-group
        label(for="input-email") Input email
        input#input-email.rounded.form-control(type="email")
      .form-group
        input#input-file.rounded.form-control(type="file")
        label.form-file-label(for="input-file")
          span.form-file-text Choose file...
          span.form-file-button Browse
      .form-group
        label(for="input-hidden") Input hidden
        input#input-hidden.rounded.form-control(type="hidden")
      .form-group
        label(for="input-image") Input image
        input#input-image.rounded.form-control(type="image", src="https://img.chilango.com/2018/02/el-increible-castillo-vagabundo.jpg")
      .form-group
        label(for="input-month") Input month
        input#input-month.rounded.form-control(type="month")
      .form-group
        label(for="input-number") Input number
        input#input-number.rounded.form-control(type="number")
      .form-group
        label(for="input-password") Input password
        input#input-password.rounded.form-control(type="password")
      .form-group
        .radio.radio-danger
          input#input-radio.rounded.form-control(type="radio", name="radio-1")
          label(for="input-radio") Input radio
      .form-control
        .radio.radio-success
          input#input-radio-1.rounded.form-control(type="radio", name="radio-1")
          label(for="input-radio-2") Input radio
      .form-group
        label(for="input-range") Input range
        input#input-range.rounded.form-control(min="0", value="0", type="range")
      .form-group
        label(for="input-reset") Input reset
        input#input-reset.rounded.form-control.btn.btn-warning(type="reset")
      .form-group
        label(for="input-") Input search
        input#input-search.rounded.form-control(type="search")
      .form-group
        label(for="input-submit") Input submit
        input#input-submit.rounded.form-control.btn.btn-danger(type="submit", value="value")
      .form-group
        label(for="input-tel") Input tel
        input#input-tel.rounded.form-control(type="tel")
      .form-group
        label(for="input-text") Input text
        input#input-text.rounded.form-control(type="text")
      .form-group
        label(for="input-time") Input time
        input#input-time.rounded.form-control(type="time")
      .form-group
        label(for="input-url") Input url
        input#input-url.rounded.form-control(type="url")
      .form-group
        label(for="input-week") Input week
        input#input-week.rounded.form-control(type="week")