.container
  .row
    .col-12
      h1 Radio
    .col-6.col-offset-3
      .form-group
        .radio
          input#input-radio.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio") Input radio
      .form-group
        .radio.radio-primary
          input#input-radio-primary.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-primary") Input radio primary
      .form-group
        .radio.radio-secondary
          input#input-radio-secondary.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-secondary") Input radio secondary
      .form-group
        .radio.radio-success
          input#input-radio-success.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-success") Input radio success
      .form-group
        .radio.radio-info
          input#input-radio-info.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-info") Input radio info
      .form-group
        .radio.radio-danger
          input#input-radio-danger.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-danger") Input radio danger
      .form-group
        .radio.radio-warning
          input#input-radio-warning.rounded.form-control(type="radio", name="radio-grupo-1")
          label(for="input-radio-warning") Input radio warning