.container
  .row
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range
        input#input-range.rounded.form-control(min="0", value="10", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range primary
        input#input-range.rounded.form-control.primary(min="0", value="8", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range secondary
        input#input-range.rounded.form-control.secondary(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range success
        input#input-range.rounded.form-control.success(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range danger
        input#input-range.rounded.form-control.danger(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range warning
        input#input-range.rounded.form-control.warning(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range info
        input#input-range.rounded.form-control.info(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group
        label(for="input-range") Input range light
        input#input-range.rounded.form-control.light(min="0", value="0", type="range")
    .col-6.col-offset-3
      .form-group.warning
        label(for="input-range") Input range dark
        input#input-range.rounded.form-control.dark(min="0", value="0", type="range")