.container
  .row
    .col-12
      h1 Switchs
    .col-12
      .switch
        input#switch-1(type="checkbox", name="switch-1")
        label(for="switch-1") switchs
      .switch.primary
        input#switch-2(type="checkbox", name="switch-2")
        label(for="switch-2") switchs Primary
      .switch.secondary
        input#switch-3(type="checkbox", name="switch-3")
        label(for="switch-3") switchs Secondary
      .switch.sussess
        input#switch-4(type="checkbox", name="switch-4")
        label(for="switch-4") switchs Sussess
      .switch.danger
        input#switch-5(type="checkbox", name="switch-5")
        label(for="switch-5") switchs Danger
      .switch.warning
        input#switch-6(type="checkbox", name="switch-6")
        label(for="switch-6") switchs Warning
      .switch.info
        input#switch-7(type="checkbox", name="switch-7")
        label(for="switch-7") switchs Info
      .switch.light
        input#switch-8(type="checkbox", name="switch-8")
        label(for="switch-8") switchs Light
      .switch.dark
        input#switch-9(type="checkbox", name="switch-9")
        label(for="switch-9") switchs Dark