.container
  .row
    .col-6.center
      .avatar
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    .col-6.center
      .avatar-xl.offline
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    .col-6.center
      .avatar-lg.online
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    .col-6.center
      .avatar-md.busy
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    .col-6.center
      .avatar-sm.away
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    .col-6.center
      .avatar-xs
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")