.container
  .row
    .col-12
      .bar.w-50#barra1(data-value="0")
      .bar.w-50(data-value="10")
      .bar.w-50
    .col-12
      .w-50.bar
      .w-50.bar.primary
      .w-50.bar.secondary
      .w-50.bar.info
      .w-50.bar.success
      .w-50.bar.danger
      .w-50.bar.warning
      .w-50.bar.light
      .w-50.bar.dark
    .col-12
      .w-50.bar.animated
      .w-50.bar.primary.animated
      .w-50.bar.secondary.animated
      .w-50.bar.info.animated
      .w-50.bar.success.animated
      .w-50.bar.danger.animated
      .w-50.bar.warning.animated
      .w-50.bar.light.animated
      .w-50.bar.dark.animated
    .col-6
      .progress-circle.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.primary.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.secondary.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.info.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.success.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.danger.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.warning.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.light.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar
      .progress-circle.dark.p10
        span 10%
        .left-half-clipper
          .first50-bar
          .value-bar