.mt-12.container
  .row
    .col-12.col-sm-12.col-md-4.col-lg-3
      .rounded.card
        img.card-img-top(src="https://images7.alphacoders.com/325/thumb-1920-325547.jpg", alt="...")
        .card-body
          p.card-text.
            
            Some quick example text to build on the card title and make up the bulk of the card's content.
            
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        .card-body This is some text within a card body.
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        .card-body
          h5.card-title Card title
          h6.mb-2.card-subtitle.text-muted Card subtitle
          p.card-text.
            
            Some quick example text to build on the card title and make up the bulk of the card's content.
            
          a.card-link(href="#") Card link
          a.card-link(href="#") Another link
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        img.card-img-top(src="http://images6.fanpop.com/image/photos/32500000/Howl-s-Moving-Castle-Wallpaper-howls-moving-castle-32564154-1600-1200.png", alt="...")
        .card-body
          p.card-text.
            
            Some quick example text to build on the card title and make up the bulk of the card's content.
            
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        ul.list-group.list-group-flush
          li.list-group-item Cras justo odio
          li.list-group-item Dapibus ac facilisis in
          li.list-group-item Vestibulum at eros
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        .card-header Featured
        .card-body
          h5.card-title Special title treatment
          p.card-text.
            
            With supporting text below as a natural lead-in to additional content.
            
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-sm-12.col-md-4.col-lg-3
      .card
        h5.card-header Featured
        .card-body
          h5.card-title Special title treatment
          p.card-text.
            
            With supporting text below as a natural lead-in to additional content.
            
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-sm-12.col-md-4.col-lg-3
      .text-center.card
        .card-header Featured
        .card-body
          h5.card-title Special title treatment
          p.card-text.
            
            With supporting text below as a natural lead-in to additional content.
            
          a.btn.btn-primary(href="#") Go somewhere
        .card-footer.text-muted 2 days ago