.container
  #carouselExampleSlidesOnly1.carousel.fade(data-ride="carousel")
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466420_anime-girl-wallpaper-4k.jpg")
      .carousel-item
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466403_4k-wallpaper-anime-data-src-dark-anime-wallpaper.jpg")
      .carousel-item
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466436_free-download-anime-4k-ultra-hd-images-wallpapers.jpg")
      a.prev ❮
      a.next ❯
  #carouselExampleSlidesOnly.carousel.slide(style="margin-top: 50px", data-ride="carousel")
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466420_anime-girl-wallpaper-4k.jpg")
      .carousel-item
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466403_4k-wallpaper-anime-data-src-dark-anime-wallpaper.jpg")
      .carousel-item
        img.d-block.w-100(src="https://wi.wallpapertip.com/wsimgs/46-466436_free-download-anime-4k-ultra-hd-images-wallpapers.jpg")
      a.prev ❮
      a.next ❯