.container
  .dropdown
    button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton(type="button", data-toggle="dropdown", aria-expanded="false").
      
      Dropdown button
      
    ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
      li
        a.dropdown-item(href="#") Action
      li
        a.dropdown-item(href="#") Another action
      li
        a.dropdown-item(href="#") Something else here
  br
  br
  .dropdown
    button.btn.btn-secondary.dropdown-hover#dropdownMenuButton1(type="button", data-toggle="dropdown", aria-expanded="false").
      
      Dropdown button
      
    ul.dropdown-menu(aria-labelledby="dropdownMenuButton1")
      li
        a.dropdown-item(href="#") Action
      li
        a.dropdown-item(href="#") Another action
      li
        a.dropdown-item(href="#") Something else here