.container
  button.btn.btn-success.btn-sidenav(data-target="#slide-out").
    
    sidenav
    
.sidenav.side-dark.bg-primary#slide-out
  button.btn-close-side.fa.fa-times(type="button")
  .side-header
    .background
      img(src="https://i.pinimg.com/originals/90/55/07/905507df95937e17cd98555c54d3bf98.jpg")
    a(href="#user")
      .avatar-lg.offline
        img(src="https://i.pinimg.com/236x/09/cb/3b/09cb3bf0b508672fea6831be5855a29d.jpg")
    a(href="#name")
      span.white-text.name John Doe
    a(href="#email")
      span.white-text.email jdandturk@gmail.com
  .side-body
    ul
      li
        a(href="#") link1
      li
        a(href="#") link1
      li
        a(href="#") link1
      li
        a(href="#") link1