.container
  .spinner-border(role="status")
    span.visually-hidden Loading...
  .spinner-border.primary(role="status")
    span.visually-hidden Loading...
  .spinner-border.secondary(role="status")
    span.visually-hidden Loading...
  .spinner-border.info(role="status")
    span.visually-hidden Loading...
  .spinner-border.warning(role="status")
    span.visually-hidden Loading...
  .spinner-border.danger(role="status")
    span.visually-hidden Loading...
  .spinner-border.success(role="status")
    span.visually-hidden Loading...
  .spinner-border.dark(role="status")
    span.visually-hidden Loading...
  .spinner-border.light(role="status")
    span.visually-hidden Loading...