.container
  button.btn.btn-primary.tooltip(data-tooltip="tooltip example", data-position="right").
    
    tooltip1
    
  button.btn.btn-primary.tooltip(data-tooltip="tooltip example", data-position="top").
    
    tooltip2
    
  button.btn.btn-primary.tooltip(data-tooltip="tooltip example", data-position="bottom").
    
    tooltip3
    
  button.btn.btn-primary.tooltip(data-tooltip="tooltip example").
    
    tooltip4
    