[class^="avatar"],
[class*="avatar"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  &.online {
    border-color: $success-color-75;
  }
  &.busy {
    border-color: $danger-color-75;
  }
  &.away {
    border-color: $warning-color-75;
  }
  &.offline {
    border-color: $light-color-75;
  }
}

.avatar {
  width: 100px;
  height: 100px;

  & img {
  }
}
.avatar-xl {
  width: 100px;
  height: 100px;
}
.avatar-lg {
  width: 64px;
  height: 64px;
}
.avatar-md {
  width: 32px;
  height: 32px;
}
.avatar-sm {
  width: 22px;
  height: 22px;
}
.avatar-xs {
  width: 16px;
  height: 16px;
}
