.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-success {
  background-color: $success-color;
}
.bg-danger {
  background-color: $danger-color;
}
.bg-warning {
  background-color: $warning-color;
}
.bg-info {
  background-color: $info-color;
}
.bg-light {
  background-color: $light-color;
}
.bg-dark {
  background-color: $dark-color;
}
