.tooltips {
  background: $dark-color-70;
  //border: 2px solid #87cefa;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $dark-color-30;
  color: $white;
  font-size: 0.8em;
  padding: 10px 10px 10px 10px;
  max-width: 600px;
  position: absolute;
  z-index: 100;
  text-align: center;
  &::after {
    content: " ";
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid $dark-color-70;
    border-bottom: 5px solid $dark-color-70;
    position: absolute;
  }
  &.left {
    &::after {
      left: -5px;
      transform: rotate(45deg);
      top: 14px;
    }
  }
  &.right {
    box-shadow: -5px 5px 5px $dark-color-30;
    &::after {
      right: -5px;
      transform: rotate(225deg);
      top: 14px;
    }
  }
  &.top {
    &::after {
      bottom: -5px;
      left: 8px;
      transform: rotate(-45deg);
    }
  }
  &.bottom {
    &::after {
      top: -5px;
      left: 8px;
      transform: rotate(135deg);
    }
  }
}
